<nav class="py-3 px-6 flex flex-row justify-between bg-white">
    <div class="text-[40px] font-semibold text-[#262626]">SIDIBOU</div>

    <div class="flex flex-row items-center gap-2">
        <div
            class="p-3 rounded-full transition-colors hover:bg-blue-500/10 cursor-pointer"
        >
            <i style="font-size: 1.5rem" class="pi pi-search text-blue-500"></i>
        </div>

        <div class="p-3 rounded-full transition-colors hover:bg-blue-500/10 cursor-pointer">
            <i style="font-size: 1.5rem" class="pi pi-user text-blue-500"></i>
        </div>

        <div class="p-3 rounded-full transition-colors hover:bg-blue-500/10 cursor-pointer">
            <i style="font-size: 1.5rem" class="pi pi-shopping-cart text-blue-500"></i>
        </div>
    </div>
</nav>
