<nav class="py-3 px-6 flex flex-row justify-between bg-white">
    <a href="/">
        <div class="text-[40px] font-semibold text-[#262626]">SIDIBOU</div>
    </a>

    <div class="flex flex-row items-center gap-2">
        <div
            class="p-3 rounded-full transition-colors hover:bg-blue-500/10 cursor-pointer"
            (click)="showDialog()"
        >
            <i style="font-size: 1.5rem" class="pi pi-search text-blue-500"></i>
        </div>

        <div class="p-3 rounded-full transition-colors hover:bg-blue-500/10 cursor-pointer">
            <i style="font-size: 1.5rem" class="pi pi-user text-blue-500"></i>
        </div>
        <app-cart-drawer></app-cart-drawer>
    </div>
</nav>



<!-- SEARCH DIALOG -->
<p-dialog 
    header="Find food" 
    [(visible)]="visible"
    [modal]="true"
    [style]="{ width: '40vw' }"
    [breakpoints]="{
        '575px': '90vw'
    }"
>
    <ng-template pTemplate="header">
        <h1 class="text-[#565656] font-medium text-[24px]">
            Find food
        </h1>
    </ng-template>
    <p-inputGroup class="mb-8 focus:border-blue-500 !w-[75%] rounded-[25px] mx-auto">
        <input
            [(ngModel)]="searchQuery"
            pInputText
            placeholder="Search your favorite meal by name"
            class="
                !rounded-l-[12px]
                !border-gray-300
                focus:!border-blue-500
                focus:!ring-0
                focus:!shadow-none
            "
        />
        <p-inputGroupAddon class="!rounded-r-[12px]">
            <p-button 
                icon="pi pi-search" 
                severity="secondary" 
                variant="text" 
                (click)="searchFoods()"
            />
        </p-inputGroupAddon>
    </p-inputGroup>
    <!-- CONTENT -->
    <div class="w-full h-full" *ngIf="filteredFood.length > 0; else notFound">
        <div class="w-full flex flex-col gap-2">
            <div *ngFor="let food of filteredFood">
                <app-search-bar-food-card (click)="foodClicked()" [food]="food"></app-search-bar-food-card>
            </div>
        </div>
    </div>
    <ng-template #notFound class="w-full h-full block">
        <div class="p-6 flex flex-col justify-center items-center gap-2">
            <i class="pi pi-search"  style="font-size: 7.5rem; color: #565656;"></i>
             <h1 class="text-[#565656] font-regular text-[24px]">Search to display</h1>
        </div>
    </ng-template>
</p-dialog>