<section class="relative h-[600px] overflow-hidden">
  <!-- Background Image -->
  <div class="absolute inset-0">
    <img 
      [src]="imgUrl" 
      alt="Reservation" 
      class="w-full h-full object-cover scale-[1.1]" 
    />
    <!-- Overlay -->
    <div class="absolute inset-0 bg-black/60"></div>
  </div>

  <!-- Content -->
  <div class="absolute inset-x-0 bottom-16 px-6">
    <div class="flex flex-col justify-start items-start max-w-4xl">
      <h2 class="rubik text-4xl md:text-[48px] font-bold text-white mb-6">
        Explore Our Delicious Menu
      </h2>
      <p class="font-regular text-[20px] text-white/90 mb-8 max-w-2xl">
        Discover a variety of mouth-watering dishes crafted with fresh ingredients and bold flavors.
      </p>
      <div class="flex flex-col sm:flex-row items-center justify-center gap-10">
        <a href="#featured" class="block">
          <button class="group w-[200px] py-2 bg-blue-500 
              flex flex-row items-center justify-center gap-2
              rounded-[25px] text-white text-[20px] font-regular
              transition-all duration-300 ease-in-out
              hover:cursor-pointer hover:bg-blue-600">
              <span class="transition-all duration-300 ease-out ml-6 group-hover:ml-0">
                View Menu
              </span>
              <i style="font-size: 1rem" 
              class="pi pi-arrow-right text-[#FFFFFFF]
              opacity-0 translate-x-[-6px]
              transition-all duration-300 ease-out
              group-hover:opacity-100 group-hover:translate-x-0"></i>
          </button>
        </a>
      </div>
    </div>
  </div>
</section>
