.p-galleria .p-galleria-item img {
  width: 100%;
  height: 600px;
  object-fit: contain;
}

.p-galleria-thumbnail-item {
  height: 175px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-galleria-thumbnail-item img {
  width: 100%;
  height: 175px;
  object-fit: contain;
}


