<a [routerLink]="['/foods', food.id]">
    <div class="w-full my-2 flex justify-between align-center">
        <div class="flex flex-row items-center gap-4">
            <div class="rounded-md overflow-hidden">
                <img 
                [src]="food.thumbnailUrl" 
                alt="{{food.name}}"
                class="w-24 h-24 object-cover"
                >
            </div>
            <div class="flex flex-col justify-start gap-2">
                <h2 class="text-[#565656] font-medium text-[24px]">
                    {{food.name}}
                </h2>
                <h3 class="text-[#565656] font-regular text-[18px]">
                {{food.price}} Dt 
                </h3>
            </div>
        </div>
        
        <div class="flex flex-row items-center gap-2">
            <i style="font-size: 1.5rem" class="pi pi-star-fill text-[#f5cb42]"></i>
            <span class="text-[#565656] font-regular text-[16px]">{{food.rating}}</span>
        </div>
    </div>
</a>