<section 
    class="py-3 bg-gradient-to-r from-blue-500 to-blue-700"
>
    <div 
        class="
        flex flex-col md:flex-row
        justify-center items-center 
        gap-6 md:gap-12
        text-center
        "
    >
        <div 
            class="p-6 flex flex-row items-center gap-4 text-white"
        >
            <i style="font-size: 2.5rem" class="pi pi-truck text-white"></i>
            <span class="text-[20px] font-semibold">Fast Shipping</span>
        </div>

        <div 
            class="p-6 flex flex-row items-center gap-4 text-white"
        >
            <i style="font-size: 2.5rem" class="pi pi-credit-card text-white"></i>
            <span class="text-[20px] font-semibold">Secure Checkout</span>
        </div>

        <div 
            class="p-6 flex flex-row items-center gap-4 text-white"
        >
            <i style="font-size: 2.5rem" class="pi pi-check-circle text-white"></i>
            <span class="text-[20px] font-semibold">Premium Quality</span>
        </div>

    </div>
</section>