/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
@import "tailwindcss";

* {
  scroll-behavior: smooth;
}

.p-tablist-content {
    background: linear-gradient(to bottom right, #faf5ff, #fdf2f8, #eef2ff) !important;
}
