<app-reservation-hero-section></app-reservation-hero-section>
<div class="flex flex-col w-[70vw] mx-auto mt-6 align-center gap-5">
  <div class="flex justify-between gap-6">
   <!-- Start Date -->
    <div class="flex-1 flex flex-col gap-1">
      <label for="start-date" class="text-gray-500">Reservation start date</label>
      <input 
        type="date" 
        name="start-date" 
        id="start-date"  
        class="h-8 pl-4 border rounded"
        [(ngModel)]="reservationDate"
        (change)="checkAll()"
      >
      <div class="text-red-500 text-sm" *ngIf="dateError">{{ dateError }}</div>
    </div>
   <!-- Reservation Time -->
    <div class="flex-1 flex flex-col gap-1">
      <label for="reservation-time" class="text-gray-500">Reservation time</label>
      <input 
        type="time" 
        name="reservation-time" 
        id="reservation-time" 
        class="h-8 pl-4 border rounded"
        step="1800"
        [(ngModel)]="reservationTime"
        (change)="checkAll()"
      >
      <div class="text-red-500 text-sm" *ngIf="timeError">{{ timeError }}</div>
    </div>
   <!-- Number of People -->
    <div class="flex-1 flex flex-col gap-1">
      <label for="number-of-people" class="text-gray-500">Number of people</label>
      <input 
        type="number" 
        name="number-of-people" 
        id="number-of-people" 
        class="h-8 pl-4 border rounded"
        min="1"
        [(ngModel)]="numberOfPeople"
        (change)="checkAll()"
      >
      <div class="text-red-500 text-sm" *ngIf="peopleError">{{ peopleError }}</div>
    </div>
  </div>
  <p-button
    label="Make Reservation"
    [disabled]="!acceptableAll"
    (onClick)="saveReservation() "
    class="mb-20"
  >
  </p-button>
</div>